/* Main Page */
.mainpage {
  position: relative;
  width: 1440px;
  height: 2592px;
  margin: 0;
  background: #ffffff;
}
/* Top line */
.topline {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.nweb {
  width: 44px;
  height: 21px;
  color: #4d5ae5;
}
.nstudio {
  width: 71px;
  height: 21px;
  color: #2e2f42;
}

/* Menu Nav */
.menunav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
  color: #2e2f42;
}
.studio {
  width: 48px;
  height: 24px;

  /* Body Medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.portfolio {
  width: 66px;
  height: 24px;

  /* Body Medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.contacts {
  width: 67px;
  height: 24px;

  /* Body Medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* hero image */

.heroimage {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}
.pict {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}
.esfyb {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.botton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
